@{
    ViewBag.Title = "Criadores";
    ViewBag.Message = "";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <p>Criador 1: </p>
    <img src="https://static.wikia.nocookie.net/grandchase/images/5/5a/EF_Sieghart_Face_01.png/revision/latest/top-crop/width/300/height/300?cb=20181230122939" alt="Sample Photo" />
    <p>Rodrigo Cunha da Silva Franco</p>
    <p>Criador 2: </p>
    <img src="https://pbs.twimg.com/profile_images/1299097215911243777/DfGR-QSt_400x400.jpg" alt="Sample Photo" />
    <p>Guilherme Lima braga</p>
</address>

<address>
    @*<strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>