@{
    ViewBag.Title = "Preguiça News";
}

<div class="jumbotron">
    <h1>Preguiça News</h1>
    <p class="lead">Preguiça News é o lugar perfeito para você preguiçoso que quer saber dos ultimos lançamentos de jogos e manga</p>
    @*<img src="https://st2.depositphotos.com/2704315/11985/v/600/depositphotos_119851312-stock-illustration-fired-office-worker-character-sleeping.jpg" alt="Sample Photo" />*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Jogos</h2>
        <p>
            Veja os Ultimos lançamentos de Jogos.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44336/Jogos/MostrarJogos/666">Dê uma olhada Preguiçoso &raquo;</a></p>
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        <h2>Manga</h2>
        <p>Veja os Ultimos lançamentos de Mangas.</p>
        <p><a class="btn btn-default" href="https://localhost:44336/Manga/MostrarManga/666">Dê uma olhada Preguiçoso &raquo;</a></p>
    </div>
</div>